.error404 {
	background-color: #eec0c8;;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}
h1 {
	text-align: center;
	color: #000;
	margin-bottom: 20px;
}
.error-message {
	line-height: 40px;
	color: #333;
	font-weight: 600;
}

.error404 img {
	height: 55%;
	animation: circlelogo 2s linear infinite;
	transform-origin: center center;
}
.home-link__error {
    font-size: 20px;
    width: 20%;
    height: 44px;
    border-radius: 30px;
    background: #333;
    border: 1px solid var(--purpil-color);
    color: white;
    font-weight: bold;
}

@keyframes circlelogo {
	0% {
		transform: rotate(-5deg);
	}

	50% {
		transform: rotate(5deg);
	}

	100% {
		transform: rotate(-5deg);
	}
}